section#home:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../images/pizza-bg.jpg')
}

section#home p {
  font-size: 36px;
  background-color: white;
  clear: left;
  padding: 20px;
  text-align: center;
  display: block;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}